<style>
    .blue-text {
      color: rgb(75, 75, 209);
    }
  
    h2 {
      font-family: Lobster, monospace;
    }
  
    p {
      font-size: 15px;
      color: rgb(48, 228, 117);
      font-family: monospace;
    }
  
    .thick-purple-border {
      border-color: rgb(116, 12, 148);
      border-width: 5px;
      border-style: solid;
      border-radius: 5px;
    }
  
    .smaller-image {
      width: 200px;
    }
  </style>
